# Ignore root node_modules and lock file (used only for Prettier)
node_modules/
package-lock.json

# Ignore OS-specific clutter
.DS_Store
Thumbs.db

# Ignore dotenv config
.env

# Ignore build folders (if applicable later)
dist/
build/

# Optional: VSCode settings (personal dev configs)
.vscode/
